<a href="https://colab.research.google.com/github/ProAek11/StrategyTradingFrendersis-AI-System/blob/main/Data_Acquisition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import yfinance as yf

# Define the ticker symbol
ticker_symbol = "AAPL"

# Create a ticker object
ticker = yf.Ticker(ticker_symbol)

# Download historical data
#historical_data = ticker.history(start="1990-01-01", end="2022-12-31", interval='1d')
historical_data = ticker.history(period="1020d", interval='1h')

- AAPL: 1h data not available for startTime=1601665540 and endTime=1689793540. The requested range must be within the last 730 days.

In [ ]:
len(historical_data)

1547

available timeframes: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo >>>
1m data is only retrievable for the last 7 days, and anything intraday (interval <1d) only for the last 60 days.

In [ ]:
historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2023-06-16 09:30:00-04:00,186.729996,186.990005,184.960007,185.908203,28647546,0,0
2023-06-16 10:30:00-04:00,185.900101,186.130005,185.339996,185.479996,6021545,0,0
2023-06-16 11:30:00-04:00,185.479996,185.830002,185.300003,185.730103,4063413,0,0
2023-06-16 12:30:00-04:00,185.740005,186.029907,185.566605,185.800003,3300447,0,0
2023-06-16 13:30:00-04:00,185.809998,185.899994,185.199997,185.309998,3533783,0,0
...,...,...,...,...,...,...,...
2023-07-17 12:30:00-04:00,192.740005,193.080093,192.399994,193.080002,3253397,0,0
2023-07-17 13:30:00-04:00,193.080002,193.759995,192.952896,193.664993,5083166,0,0
2023-07-17 14:30:00-04:00,193.664993,194.320007,193.580002,194.149994,5312402,0,0
2023-07-17 15:30:00-04:00,194.139999,194.250000,193.699997,193.979996,6363926,0,0
2023-07-17 16:00:00-04:00,193.990005,193.990005,193.990005,193.990005,0,0,0

In [ ]:
historical_data = ticker.history(interval="90m", start="2023-06-01", end="2023-07-01")

In [ ]:
historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-06-01 09:30:00-04:00,177.699997,179.285004,176.930603,178.949997,16414827,0,0
2023-06-01 11:00:00-04:00,178.960007,179.966705,178.770004,179.800003,10285276,0,0
2023-06-01 12:30:00-04:00,179.800003,180.000000,179.464996,179.889999,8774000,0,0
2023-06-01 14:00:00-04:00,179.884995,180.119995,179.559998,179.779999,10441409,0,0
2023-06-01 15:30:00-04:00,179.789993,180.119995,179.220001,180.110001,7887639,0,0
...,...,...,...,...,...,...,...
2023-06-30 09:30:00-04:00,191.630005,193.149994,191.259995,192.539993,23567749,0,0
2023-06-30 11:00:00-04:00,192.539993,192.820007,191.979996,192.589996,10279508,0,0
2023-06-30 12:30:00-04:00,192.585007,193.119995,192.500000,193.089996,7723901,0,0
2023-06-30 14:00:00-04:00,193.089996,193.539902,192.815002,193.490005,9869408,0,0
2023-06-30 15:30:00-04:00,193.490005,194.479996,193.279999,193.800003,13053197,0,0

In [ ]:
historical_data = ticker.history(period="15m", start="2023-07-01", end="2023-07-16")

In [ ]:
historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-07-03 00:00:00-04:00,193.779999,193.880005,191.759995,192.460007,31458200,0,0
2023-07-05 00:00:00-04:00,191.570007,192.979996,190.619995,191.330002,46920300,0,0
2023-07-06 00:00:00-04:00,189.839996,192.020004,189.199997,191.809998,45094300,0,0
2023-07-07 00:00:00-04:00,191.410004,192.669998,190.240005,190.679993,46778000,0,0
2023-07-10 00:00:00-04:00,189.259995,189.990005,187.039993,188.610001,59922200,0,0
2023-07-11 00:00:00-04:00,189.160004,189.300003,186.600006,188.080002,46638100,0,0
2023-07-12 00:00:00-04:00,189.679993,191.699997,188.470001,189.770004,60750200,0,0
2023-07-13 00:00:00-04:00,190.500000,191.190002,189.779999,190.539993,41342300,0,0
2023-07-14 00:00:00-04:00,190.229996,191.179993,189.630005,190.690002,41573900,0,0

In [ ]:
#data = yf.download("AAPL", start="2022-05-01", end="2022-05-03",  interval = "1m")
ticker.history(interval="1d", start="1990-01-01", end="2022-12-31")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1990-01-02 00:00:00-05:00,0.249936,0.265889,0.248164,0.264117,183198400,0.0,0.0
1990-01-03 00:00:00-05:00,0.269435,0.269435,0.265889,0.265889,207995200,0.0,0.0
1990-01-04 00:00:00-05:00,0.271208,0.274753,0.264117,0.266776,221513600,0.0,0.0
1990-01-05 00:00:00-05:00,0.267663,0.271208,0.262344,0.267663,123312000,0.0,0.0
1990-01-08 00:00:00-05:00,0.265889,0.269435,0.262344,0.269435,101572800,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-23 00:00:00-05:00,130.539854,132.035499,129.263572,131.477127,63814900,0.0,0.0
2022-12-27 00:00:00-05:00,130.998521,131.028433,128.346242,129.652435,69007800,0.0,0.0
2022-12-28 00:00:00-05:00,129.293484,130.649535,125.504522,125.674026,85438400,0.0,0.0
2022-12-29 00:00:00-05:00,127.618359,130.101127,127.359119,129.233658,75703700,0.0,0.0
2022-12-30 00:00:00-05:00,128.037144,129.572665,127.059986,129.552719,77034200,0.0,0.0